<h1>Sign Up Below:</h1>
<body>
  <form method="post" action="/registrations%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
</body>


